<div class="container">
  <h1>New Game</h1>
  <ul>
    <% @letters.each do |letter| %>
    <div class="letter-box">
      <li><%= letter %></li>
    </div>
    <% end %>
  </ul>
  <p id="input-heading">What is the longest word you can find?  </p>
  <div class="submission">
    <form action="score" method="POST" data-turbo="false">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <input type="text" name="word" placeholder="Enter your longest word!" class="answer-input">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
