body {
  text-align: center;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.letter-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 40px;
  border: 1px solid #000;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background-color: #9D8DF1;
  color: #fff;
  border-color: #B8CDF8;
  padding: 0px;
}

.letter-box li {
  display: inline;
}

ul {
  padding-left: 5%;
}

.answer-input {
  width: 400px;
}
